<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrophyUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TrophyUpdater.Properties.Settings>
            <setting name="TrophyUpdater_startstop_AccessPoint" serializeAs="String">
                <value>http://localhost:52665/RPCService/AccessPoint.asmx</value>
            </setting>
            <setting name="TrophyUpdater_psnapi_psn" serializeAs="String">
                <value>http://www.psnapi.com.ar/ps3/api/psn.asmx</value>
            </setting>
        </TrophyUpdater.Properties.Settings>
    </applicationSettings>
</configuration>